/* CSS declarations go here */

html {
	margin: 20px;
}

body {
	color: white;
	background-color: #080808;
	padding-top: 30px;
}

.title-div {
	width: 100%;
	text-align: center;
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
}

#main-photo {
	border-radius: 10px;
	margin-bottom: 15px;
}

#entry-description {
	font-size: 18px;
	text-align: justify;
}