/* CSS declarations go here */

html {
	padding: 20px;
}

body {
	color: #DFDFDF;
	background-color: #303030; /* blue color: #22273F; */
	padding-top: 30px;
}

.title-div {
	width: 100%;
	text-align: center;
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.resident-list {
	padding: 0;
	margin: 0;
}

.resident-list>li {
	list-style: none;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 25px;
}

.resident-list li img {
	border: 3px solid white;
	border-radius: 2px;
	margin-bottom: 10px;
}

.bio-info-div {
	font-size: 1em;
	font-weight: bold;
}

.bio-info-span {
	font-weight: normal;
}

.gallery-list {
	padding: 0;
	margin: 0;
}

.gallery-list li {
	list-style: none;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 25px;
	color: #303030;
}

.gallery-list li img {
	cursor: pointer;
	border: 3px solid white;
	border-radius: 2px;
}

#main-photo {
	border-radius: 10px;
	margin-bottom: 15px;
}

#entry-description {
	font-size: 18px;
	text-align: justify;
}

@media screen and (min-width: 768px) {
	#photo-modal .modal-dialog  {
		width:75%;
	}
}

@media screen and (max-width: 767px) {
	#entry-description {
		font-size: 2em;
	}
	#photo-modal .modal-dialog  {
		width:auto;
	}
}






/*  Bootstrap Clearfix */
/* Necessary because http://www.bluthemes.com/blog/3/clearing-bootstrap-3-columns */

/* Phone */
@media (max-width:767px){

}

/*  Tablet  */
@media (min-width:767px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Medium Desktop  */
@media (min-width:992px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Large Desktop  */
@media (min-width:1200px){

  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1){
    clear: left;
  }
}

